body{width:100%;background-color:#f4f4f4;}
.container{width:80%;margin:auto;background-color:white;}
.container li{list-style:none;}
#vid{padding:20px 0 20px 40px}
.container textarea{background-color:#f4f4f4}
#table{background-color:#f4f4f4 ;width:60%;height:40%}